body {
  font-family: sans-serif;
  background: #eeeeee;
  padding: 30px;
  /* transition: background 0.3s; */
}

.picker-box{
    /* border: 1px solid; */
    position: relative; 
}

.picker-box i {
  position: absolute;
  left: 0.8rem;
  top: 0.7rem;
  color: #333;
  font-size: 18px;
  pointer-events: none;
}
.colors {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.box {
  width: 30px;
  height: 30px;
  border: 1px solid #555;
  cursor: pointer;
}

#picker {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}
